# Ignore node_modules directory
node_modules/

# ignore .parcel-cache
.parcel-cache/


# Ignore build and compiled output
build/
dist/
out/

# Ignore log files and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Ignore environment files (e.g., .env, .env.local, .env.development)
.env*

# Ignore macOS .DS_Store files
.DS_Store

# Ignore editor/IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore compiled binary files (e.g., .class, .pyc)
*.class
*.dll
*.exe
*.o
*.so

# Ignore dependencies and caches
bower_components/
jspm_packages/
*.lock
*.swp
*.swo
.cache/
output/
dist_electron/

# Ignore any local configuration files
.idea/
*.iml

# Ignore Yarn integrity file
.yarn/
.yarn-integrity
