*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    align-items: center;
    background-color: rgb(0, 31, 72);
}

.app-info{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.app-logo{
    width: 50px;
}

.app-name{
    color: white;
    cursor: pointer;
}

.name-F{
    color: orange;
}

.name-S{
    color: chartreuse;
}

/* .header-left > img{
    width: 100px;
}

.header-right {
    display: flex;
    gap: 7rem;
} */

.navbar{
    display: flex;
    gap: 4rem;
    font-size: 1.25rem;
}

.items{
    display: flex;
    gap: 2rem;
}

.items > a{
    text-decoration: none;
    color: white;
}

.items > a > li{
    list-style-type: none;
    transition: all 0.3s;
}

.items > a > li:hover{
    color: greenyellow;
}

.cart > i{
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.cart > i:hover{
    color: orange;
}

.search-container{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem; 
    width: 100%;
    justify-content: center;
    position: relative;
}

.fa-search{
    position: absolute;
    left: 17%;
    top: 25%;
    color: gray;
}

.search-bar{
    outline: none;
    border: 1px solid gray;
    width: 60%;
    height: 2rem;
    border-radius: 0.325rem;
    padding: 1rem 2.5rem;
    font-size: 1rem;
}

.search-bar::placeholder{
    font-size: 1rem;
}

.search-bar:focus{
    border-color: rgb(0, 31, 72);
}

.search-btn{
    padding: 0.5rem 1.25rem;
    border: 1px solid gray;
    border-radius: 0.325rem;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 500;
    font-size: small;
    text-transform: uppercase;
    transition: all 0.3s;

}

.search-btn:hover{
    background-color: orange;
    border-color: rgb(0, 31, 72);
    color: white;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 4rem 2rem;
    
    margin: 3rem auto; 
    width: 90%;
    
}

.card{
    width: 250px;
    height: 400px;
    background-color: transparent;
    cursor: pointer;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
}

.card > img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.325rem;
    object-fit: cover;
}

.card > h3{
    padding-left: 0.5rem;
}

.card > h4{
    padding-left: 0.5rem;
}

.card > p{
    padding-left: 0.5rem;
}

/* Shimmer UI */


#shim-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 4rem 2rem;
    
    margin: 3rem auto; 
    

}

.shimmer{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#sh-1{
    width: 100%;
    height: 150px;
    background-color: rgba(128, 128, 128, 0.355);
    border-radius: 0.325rem;
}

#sh-2{
    width: 80%;
    height: calc((100% - 150px) / 3);
    background-color: rgba(128, 128, 128, 0.355);
    padding-left: 0.5rem;
}

#sh-3{
    width: 50%;
    height: calc((100% - 150px) / 3);
    background-color: rgba(128, 128, 128, 0.355);
    padding-left: 0.5rem;
}

#sh-4{
    width: 100%;
    height: calc((100% - 150px) / 3);
    background-color: rgba(128, 128, 128, 0.355);
    padding-left: 0.5rem;
}

.footer{
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    font-size: 2.5rem;
    color: white;
    background-color: black;
}

.restaurant-menu{
    display: flex;
    gap: 5rem;
}